<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  
  <label>
    Username:
    <input type="text" formControlName="username">
  </label>

  <label>
    Password:
    <input type="text" formControlName="password">
  </label>

</form>